<table class="table table-success table-striped-columns">
  
  <thead>
    <tr>
      <th scope="col">Hito</th>
      <th scope="col">Fecha Inicio</th>
      <th scope="col">Fecha Termino</th>
      <th scope="col">Tipo</th>
      <th scope="col">Segmento</th>
    </tr>
  </thead>

  <tbody>
    {% for evento in eventos %}
      <tr>
          <th scope="row">{{ evento.titulo }}</th>
          <td>{{ evento.fecha_inicio }}</td>
          <td>{{ evento.fecha_termino }}</td>
          <td>{{ evento.tipo }}</td>
          <td>
            {% for segmento in segmentos %}
              {{ segmento.segmento_nombre }}
            {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </tbody>

</table>