*{
    margin:0;
    padding:0;
}

.logo-usm {
    width: 26vh;
}

.margen-3 {
    margin-top: 220px;
}
.menu-desp {
    margin-top:     26px;
    margin-left:    120px;
    align-content:  center;
    margin-bottom:  26px;
}

.titulo {
    color: white;
    background-color: #004B85;
    margin-bottom: 0;
    height: 40px;
}

.fondo {
    height: 80vh;
}